SYNTROPY_AGENT_API_KEY: "<SYNTROPY_GENERATED_API_KEY>"
SYNTROPY_CONTROLLER_URL: "https://controller-prod-server.syntropystack.com"
SYNTROPY_USERNAME: "<YOUR_SYNTROPY_USERNAME>"
SYNTROPY_PASSWORD: "<YOUR_SYNTROPY_PASSWORD>"