[global]
     security = ads
     realm = {{ domain }}
     password server = {{ dc_ip }}
     workgroup = {{ workgroup }}
     winbind refresh tickets = yes
     winbind offline logon = true
     idmap config {{ workgroup }}:backend = ad
     idmap uid = 10000-20000
     idmap gid = 10000-20000
     winbind enum users = yes
     winbind enum groups = yes
     template homedir = /home/%D/%U
     template shell = /bin/bash
     client use spnego = yes
     client ntlmv2 auth = yes
     encrypt passwords = yes
     winbind use default domain = yes
     restrict anonymous = 2
