#! /bin/sh
# Failover command for streaming replication.
# This script assumes that DB node 0 is primary, and 1 is standby.
#
# If standby goes down, do nothing. If primary goes down, create a
# trigger file so that standby takes over primary node.
#
# Arguments: $1: failed node id. $2: new master hostname. $3: path to
# trigger file.

# failed_node=$1
new_master=$2
trigger_file=$3

# Do nothing if standby goes down.
# if [ $failed_node = 1 ]; then
    # exit 0;
        # fi 


# Create the trigger file.
/usr/bin/ssh -T -o "StrictHostKeyChecking no" postgres@$new_master "/bin/touch $trigger_file" > /tmp/failover.log 2>&1

exit 0;
